.login-form{
    margin-top: 50px;
}
.login-input{
  background-color: lightyellow;
  border: 1px solid black;
  width: 500px;
  padding : 10px;
  margin-left: 5px;
}
.login-submit{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: lightgreen;
    color: white;
}